@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.about-us-information {
  padding-top: $margin-top-size;

  h1 {
    font-size: $h1-size;
    text-align: center;
    font-weight: 600;
    padding: 1.5rem 0rem;
  }
}

.about-us-information-container {
  padding: 4rem 0rem
}

.part-info {
  @include displayFlexCenter(column);
  gap: 2rem;
  padding: 0rem 8rem;
  
  h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
  }

  p {
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: rgb(90, 90, 90);
  }
}

.first-aboutus-part {
  position: relative;

  img {
    width: 100%;
    height: 600px;
    object-fit: cover;
  }

  .first-aboutus-part-info {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
  }
}

.second-aboutus-part {
  position: relative;

  img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position:top;
  }

  .second-aboutus-part-info {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
  }
}

@media (max-width: 1000px) {
  .about-us-information-container {
    padding: 1rem 0rem;
  }

  .first-aboutus-part {
    position: relative;

    img {
      height: 400px;
    }

    .first-aboutus-part-info {
      position: relative;
      width: 100%;
      padding: 4rem;
    }
  }

  .second-aboutus-part {
    position: relative;

    img {
      height: 400px;
    }

    .second-aboutus-part-info {
      position: relative;
      width: 100%;
      padding: 4rem;
    }
  }
}

@media (max-width: 450px) {
  .about-us-information {
    padding-top: 10rem;

    .part-info {
      padding: 3rem 2rem;
    }
  }
}