$bright-pink-color: #F45B69;
$lavender-blush-color: #F6E8EA;
$licorice-color: #22181C;
$rosewood-color: #5A0001;
$vermilion-color: #F13030;

$h1-size: 3.5rem;
$h2-size: 2.5rem;

$margin-top-size: 13rem;